.add-more-requirement {
    font-weight: 600;
    font-size: 14px;
    color: #EC6665;
}

.fqclose-action {
    width: 50px;
}

    .fqclose-action a {
        margin-top: 5px;
        display: inline-block;
    }

.area-common-field .table > tbody > tr > td,
.area-common-field .table > tbody > tr > th,
.area-common-field .table > tfoot > tr > td,
.area-common-field .table > tfoot > tr > th,
.area-common-field .table > thead > tr > td,
.area-common-field .table > thead > tr > th {
    border: none;
}

.area-common-field .item-form-group {
    min-height: 40px;
}

.rfq-attr p {
    color: #4D4D4D;
    font-size: 14px;
    line-height: 22px;
}

.rfq-attr .rfq-title {
    color: #999999;
}

.rfq-view {
    padding: 15px;
    background-color: #fff;
    margin-bottom: 20px;
}

.rfq-attr {
    margin-bottom: 15px;
}

.rfq-view .btn-red {
    border-radius: 0px;
    width: 160px;
    font-size: 14px;
    margin: auto;
    padding: 8px;
    text-transform: unset;
    margin-bottom: 15px;
}

.rfq-view .more-detail {
    font-weight: 600;
    font-size: 13px;
    color: #EC6665;
    margin-bottom: 10px;
    display: inline-block;
}

.rfq-desc {
    min-height: 45px;
}

.rfq-attr-popup {
    width: 475px;
}

    .rfq-attr-popup .rfq-view {
        padding: 0px;
    }

.rfq-submit-form textarea {
    width: 100%;
    height: 100px;
    border: 1px solid #c8c8c8;
    color: #9c9b9b;
    padding: 5px 10px;
    outline: none;
}

.rfq-submit-form {
    padding: 15px;
    background-color: #fff;
    margin-bottom: 20px;
}

    .rfq-submit-form .btn-red {
        width: 100%;
        border-radius: 0px;
        margin-top: 20px;
        padding: 8px;
    }

.seller-sublit-rfq {
    max-width: 900px;
    margin: auto;
}

    .seller-sublit-rfq > .row {
        display: flex;
    }

    .seller-sublit-rfq .rfq-view,
    .seller-sublit-rfq .rfq-submit-form {
        margin-bottom: 0px;
        height: 100%;
    }

.back-link svg {
    margin-right: 5px;
}

.back-link {
    font-weight: 600;
    color: var(--user-color) !important;
    margin-bottom: 15px;
    display: inline-block;
}
.btn-red {
    font-size: 16px;
    color: #fff;
    background-color: var(--user-color);
    border: 1px solid var(--user-color);
    display: inline-block;
    width: 240px;
    padding: 12.5px 20px;
    transition: all 0.2s ease 0s;
    text-decoration: none;
    outline: none;
    border-radius: 30px;
    text-align: center;
    text-transform: uppercase;
}
